
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Younii</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        <link rel="stylesheet" href="{% static 'mysite/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'mysite/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'mysite/css/dashboard-style.css' %}">
        <style>
            .container{
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            a{
                color: white;

            }
            a:hover{
                color: white;
            }
        </style>
    </head>
<body>
        <div class="d-flex flex-column">
            <p class="m-auto p-2">
              We've emailed you instructions for setting your password, if an account exists with the email you entered.
              You should receive them shortly.
            </p>
            <p class="m-auto p-2">
              If you don't receive an email, please make sure you've entered the address you registered with,
              and check your spam folder.
            </p>
            <div class="container"> 
                <div >
                    <button class="btn btn-primary "><a href="{% url 'mysite:login' %}">Go to Signin Page</a></button>
                </div>
            </div> 
        </div>
   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>

</body>

</html>
