{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Teen TechPreneur</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'mysite/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'mysite/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'mysite/css/dashboard-style.css' %}">
</head>
<body>

<section class="layout-main">
  <!--

-->
  <div class="content-wrapper ">
    <div class="wrapper-inner">
      <div class="container">
        <div class="top-bar">
         
            <div class="bar-left">
              <div class="form-group form-parts mb-0">
                <!-- <input type="text" class="form-control" placeholder="Search here..."> -->
                <div class="logo-bar">
                  <a href="">
                    <img src="{% static 'mysite/images/logo.png' %}" />
                  </a>
                </div>
              </div>
            </div>

          <div class="bar-right">
            <div class="dropdown profile-drop">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                <div class="for-img">
                  <img src="{% static 'mysite/images/avatar.png' %}" />
                </div>
                <div class="for-des"></div>
              </button>
              <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
              <a class="dropdown-item" href="{% url 'mysite:logout' %}">Logout</a>
                
            </div>
              
              
           
        </div>




      </div>
    </div>
  </div>
    </div>
    </div>

    <!-- Left Navigation and Right Navigation Bar and Posts and other stuff in middle-->

    <div class="container mt-5 navbar-wrapper">
      <div class="row ">
        <div class="col-2 nav-wrapper">
          <div class="menu-bar">
            <ul class="main-menu">
              <li>
                <a href="{% url 'mysite:existing-dashboard' %}" ><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a>
              </li>
              <li>
                <a href="{% url 'mysite:existing-profile' %}" ><i class="fas fa-user"></i> <span>Profile</span></a>
              </li>
              <li>
                <a href="{% url 'mysite:existing-explore' %}" ><i class="fas fa-graduation-cap"></i> <span>Explore</span></a>
              </li>
              <li class="">
                <a href="{% url 'mysite:existing-add-post' %}" ><i class="fas fa-graduation-cap"></i> <span>Add Post</span></a>
              </li>
             
            </ul>
          </div>
        </div>
        <div class="col-7 post-wrapper">
          
          {% block content %}
          {% endblock %}
          
        </div>
        <div class="col-2 contact-wrapper">
          hello how are 
        </div>
      </div>
    </div>

  </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="{% static 'mysite/js/bootstrap.min.js' %}"></script>
    
</body>

</html>